<html>

<head>
    <title>Lesson shop</title>
    <script src="https:unpkg.com/vue@2"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/font-awsome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="styleSheet.css">
    <link rel="manifest" href='lessonstore.webmanifest'> 
    <script>
       if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js');
                                        };
    </script>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{this.cart.leangh}}
                <span class="'fas fa-cart-plus"></span>Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <div v-for="product in products" class="product">
                    <h2 v-text="product.title"></h2>
                    <figure>
                        <img v-bind:src="product.image" class="image">
                    </figure>
                    <p v-html="product.description"></p>
                    <p>Price: {{product.price}}</p>
                    <p>Available stock: {{product.availableInventory}}</p>


                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>
                        Add to cart
                    </button>
                    <button disabled="disabled" v-else>Add to cart</button>
                    <span v-if='product.availableInventory === cartCount (product.id)'>All out!</span>
                    <span v-else-if='product.availableInventory - cartCount(product.id) < 5'>
                        Only {{product.availableInventory - cartCount(product.id)}} left
                    </span>
                    <span v-else>Buy now!</span>
                    <p>
                    <span v-for='n in product.rating'>★</span>
                    <span v-for='n in 5 - product.rating'>☆</span>
                    </p>
                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name</strong>
                    <input v-model.trim='order.firstName'>
                </p>
                <p>
                    <strong>Last Name</strong>
                    <input v-model='order.lastName'>
                </p>
                <p>
                    <strong>City: </strong>
                    <input v-model.number='order.city'>
                </p>
                <p>
                    <strong>State: </strong>
                    <select v-model='order.state'>
                        <option disabled value="">State</option>
                        <option v-for="(state,key) in state" v-bind:value='key'>{{state}}</option>
                    </select>
                </p>
                <p>
                    <strong>Zip/Postal code: </strong>
                    <input v-model.number='order.zip'>
                </p>
                <p>
                    <input type="checkbox" id='gift' v-model='order.gift' :true-value='order.sendGift'
                        :false-value='order.dontSendGift'>
                    <label for="gift">Ship as a gift?</label>
                </p>
                <p>
                    <input type="radio" id='home' value='h' v-model='order.method'>
                    <label for="home">Home</label>
                    <input type="radio" id='business' value='b' v-model='order.method'>
                    <label for="bussiness">Business</label>
                </p>
                <p>
                    <h2>Order Information</h2>
                    <p>First name: {{order.firstName}}</p>
                    <p>Last name: {{order.lastName}}</p>
                    <p>Address: {{order.address}}</p>
                    <p>City: {{order.city}}</p>
                    <p>Zip: {{order.zip}}</p>
                    <p>State: {{order.state}}</p>
                    <p>Ship as a gift? {{order.gift}}</p>
                    <button @click='submitForm'>Submit Order</button>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Lesson Store',
                products: products,
                cart: [],
                showProduct: true,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    gift: '',
                    method: 'home',
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do not send as a gift',
                },
                states: {
                    AL:'Alabama',
                    AR:'Arizona',
                    CA:'California',
                    NV:'Nevada',
                    js:'javascript',
                }
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id)
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) count++;
                    }
                    return count;
                },
            },
            computed: {

            },
        })
    </script>
</body>

</html>